<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_notification">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidNotification"
        tools:targetApi="31">
        <activity
            android:name=".customtab.WebviewActivity"
            android:label="@string/title_activity_webview"
            android:parentActivityName=".ui.InAppBrowserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.InAppBrowserActivity" />
        </activity>
        <activity
            android:name=".ui.InAppBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PermissionHandingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DialogActivity"
            android:exported="false" />

        <service
            android:name=".services.MyNotificationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.ChatHeadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.NotificationTwoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NotificationOneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FCMService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/p_transparent_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/transparent" />

        <receiver
            android:name=".services.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>